@page "/auth/login"

@using KingPriceDemo.WebClient.Services.Contracts

@inject IAuthenticationService authService

<h3>Login</h3>

<div class="card-body">
    @if (!string.IsNullOrWhiteSpace(message))
    {
        <span class="text-danger">@message</span>
    }
    <EditForm Model="Model" OnValidSubmit="HandleValidSubmit" FormName="LoginUser">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="Email">Email</label>
            <InputText class="form-control" @bind-Value="Model.Email" />
            <ValidationMessage For="@(() => Model.Email)" />

            <label for="Password">Password</label>
            <InputText type="password" class="form-control" @bind-Value="Model.Password" />
            <ValidationMessage For="@(() => Model.Password)" />

            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    LoginModel Model { get; set; } = new LoginModel();
}

@code{
    string message = string.Empty;
}

@code {
    private async Task HandleValidSubmit()
    {
        var response = await authService.AuthenticateAsync(Model);

        if (response)
        {
            manager.NavigateTo("/");
        }

        message = "Invalid Credentials, Please Try Again";
    }
}
