@page "/group/create"

@inject IGroupService groupService

<h3>Create Group</h3>

<div class="card-body">
    <EditForm Model="Model" OnValidSubmit="HandleValidSubmit" FormName="GroupCreate">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="Name">Name</label>
            <InputText class="form-control" @bind-Value="Model.Name" />
            <ValidationMessage For="@(() => Model.Name)" />

            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    CreateGroupModel Model { get; set; } = new CreateGroupModel();
}

@code {
    private async Task HandleValidSubmit()
    {
        var groupId = await groupService.CreateGroup(Model.Name);

        manager.NavigateTo($"/group/{groupId}");

        await InvokeAsync(StateHasChanged);
    }
}

