@page "/group/join"

@inject IGroupService groupService

<h3>Join Group</h3>

@if (!string.IsNullOrWhiteSpace(message))
{
    <span class="text-danger">@message</span>
}
<div class="card-body">
    <EditForm Model="Model" OnValidSubmit="HandleValidSubmit" FormName="GroupCreate">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="InviteToken">Invite Token</label>
            <InputText class="form-control" @bind-Value="Model.InviteToken" />
            <ValidationMessage For="@(() => Model.InviteToken)" />

            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    JoinGroupModel Model { get; set; } = new JoinGroupModel();
}

@code {
    string message = string.Empty;
}

@code {
    private async Task HandleValidSubmit()
    {
        var response = await groupService.JoinGroupWithToken(Model.InviteToken);

        if (response.Success)
            manager.NavigateTo($"/group");
        else
            message = response.Message;

        await InvokeAsync(StateHasChanged);
    }
}